@import url('./__title/title.css');
@import url('./__subtitle/subtitle.css');
@import url('./__image/image.css');
@import url('./__caption/caption.css');

.lead {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 985px;
    height: 950px;
    padding: 48px 228px 0 228px;
}