.comment__quote {
    width: 100%;
    margin: 0;
    padding-top: 10.99%;

    font-family: 'Inter';
    font-size: 14px;
    line-height: 23px;
    
    color: #ffffff;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .comment__quote {
        width: 100%;
        padding-top: 4.54%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .comment__quote {
        width: 100%;
        padding-top: 24px;
        font-size: 16px;
        line-height: 23px;
        order: 3;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .comment__quote {
        width: 100%;
        padding-top: 24px;
        font-size: 16px;
        line-height: 23px;
        order: 3;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .comment__quote {
        width: 100%;
        padding-top: 24px;
        font-size: 16px;
        line-height: 23px;
        order: 3;
    }
}