.barentsburg__url-heading {
    width: 282px;
    margin: 0;
    padding-top: 48px;

    font-family: 'Inter';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;

    color: #aaaaaa;
}